.dark.container-background {
    background-color: #303030;
}

.dark .card-container {
    background-color: #fff;
}

.dark .color-primary1 {
    color: rgba(0, 0, 0, 0.85);
}

.dark .color-primary2 {
    color: rgba(0, 0, 0, 0.75);
}

.dark .color-primary3 {
    color: rgba(255, 255, 255, 0.60);
}

.dark .color-primary4 {
    color: rgba(255, 255, 255, 0.45);
}

.dark .color-secondary1 {
    color: rgba(255, 255, 255, 0.85);
}

.dark. color-secondary2 {
    color: rgba(255, 255, 255, 0.75);
}

.dark .color-secondary3 {
    color: rgba(255, 255, 255, 0.60);
}

.dark.color-secondary3 {
    color: rgba(255, 255, 255, 0.60);
}

.dark .color-secondary4 {
    color: rgba(255, 255, 255, 0.45);
}

.dark .portlet {
    border: 1px solid rgba(255, 255, 255, .125);
    -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    background-color: #262326;
}

.dark .recharts-tooltip-wrapper .portlet{
    background-color: rgba(38, 35, 38, 0.7);
    box-shadow: none;
}

.dark .portlet .portlet-head {
    border-bottom: 1px solid #ebedf2;
}

.dark .portlet .portlet-title {
    color: rgba(255, 255, 255, 1);
}

.dark .portlet .portlet-subtitle {
    color: rgba(255, 255, 255, 1);
}

.dark .portlet .portlet-icon {
    color: #fff;
}

.dark .card {
    -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    background-color: #262326;
}

.dark .border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.dark .social-icon {
    color: rgba(255, 255, 255, 1);
}

.dark .footer-text-primary {
    color: rgba(208, 208, 208, 1);
}

.dark .footer-text-secondary {
    color: rgba(255, 255, 255, 1);
}

.dark.footer-background-color2 {
    background-color: #181818;
}

.dark.footer-background-color1 {
    background-color: #262326;
}

.dark.footer-part2 {
    border-bottom: 2px solid rgba(169, 169, 169, 0.6);
}

.dark.footer-part3 a {
    color: #FFCB75;
}

.dark.header-background-color {
    background-color: #181818;
}

.dark.modal-header {
    background-color: #181818;
    color: rgba(255, 255, 255, 1);
}

.dark.modal-header button {
    color: #fff;
}

.dark.modal-body {
    background-color: #181818;
    color: rgba(255, 255, 255, 0.70);
}

.dark.modal-footer {
    background-color: #181818;
}
