.light.container-background {
    background-color: #fff;
}

.light .card-container {
    background-color: #fff;
}

.light .color-primary1 {
    color: rgba(0, 0, 0, 0.85);
}

.light .color-primary2 {
    color: rgba(0, 0, 0, 0.75);
}

.light .color-primary3 {
    color: rgba(0, 0, 0, 0.60);
}

.light .color-primary4 {
    color: rgba(0, 0, 0, 0.45);
}

.light .color-secondary1 {
    color: rgba(255, 255, 255, 0.85);
}

.light .color-secondary2 {
    color: rgba(255, 255, 255, 0.75);
}

.light .color-secondary3 {
    color: rgba(255, 255, 255, 0.60);
}

.light.color-secondary3 {
    color: rgba(255, 255, 255, 0.60);
}

.light .color-secondary4 {
    color: rgba(255, 255, 255, 0.45);
}

.light .portlet {
    border: 1px solid rgba(0, 0, 0, .125);
    -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    background-color: #fff;
}

.light .portlet .portlet-head {
    border-bottom: 1px solid #ebedf2;
}

.light .portlet .portlet-head .portlet-title {
    color: #48465b;
}

.dark .portlet .portlet-icon {
    color: #181818;
}

.light .card {
    -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    background-color: #fff;
}

.light .border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.light .social-icon {
    color: rgba(255, 255, 255, 1);
}

.light .footer-text-primary {
    color: rgba(208, 208, 208, 1);
}

.light .footer-text-secondary {
    color: rgba(255, 255, 255, 1);
}

.light.footer-background-color2 {
    background-color: #181818;
}

.light.footer-background-color1 {
    background-color: #262326;
}

.light.footer-part2 {
    border-bottom: 2px solid rgba(169, 169, 169, 0.6);
}

.light.footer-part3 a {
    color: #FFCB75;
}

.light.header-background-color {
    background-color: #181818;
}
